.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: #323232;
}

a {
  color: rgb(88,153,223);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
